<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Book List</h1>

<button th:if="${isLoggedIn}">로그아웃</button>
<div th:replace="~{/fragments/searchForm :: search-form}"></div>
<ul>
    <li th:each="book : ${Books}">
        <strong>제목:</strong> <span th:text="${book.title}"></span><br/>
        <strong>저자:</strong> <span th:text="${book.author}"></span><br/>
        <strong>출판사:</strong> <span th:text="${book.publisher}"></span><br/>
        <strong>PDF Path:</strong> <span th:text="${book.pdfPath}"></span><br/>
        <strong>남은 책:</strong> <span th:text="${book.availableCount}"></span>
        <form th:action="@{/detail/{id}(id=${book.id})}" method="get">
            <button type="submit">수정하기</button>
        </form>
        <form th:action="@{/delete/{id}(id=${book.id})}" method="get">
            <button type="submit">삭제하기</button>
        </form>

        <br/>
    </li>
</ul>
<form action="/insertForm" method="get">
    <button type="submit">도서 추가</button>
</form>
</body>
</html>
