<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Book List</h1>

<a th:if="${isLoggedIn}" href="/user/logout"><button>로그아웃</button></a>
<a th:if="${userRole == T(kangnamuniv.elibrary.entity.UserRole).ROLE_ADMIN}" href="/insertForm"><button>도서 추가</button></a>

<div th:replace="~{/fragments/searchForm :: search-form}"></div>
<ul>
    <li th:each="book : ${Books}">
        <strong>제목:</strong> <span th:text="${book.title}"></span><br/>
        <strong>저자:</strong> <span th:text="${book.author}"></span><br/>
        <strong>출판사:</strong> <span th:text="${book.publisher}"></span><br/>
        <strong>PDF Path:</strong> <span th:text="${book.pdfPath}"></span><br/>
        <strong>남은 책:</strong> <span th:text="${book.availableCount}"></span>
        <!-- 세션 값 체크 -> admin이면 수정삭제 표시 -->
        <div th:if="${user != null and user.username.equals('admin@naver.com')}">
            <form th:action="@{/detail/{id}(id=${book.id})}" method="get">
                <button type="submit">수정하기</button>
            </form>
            <form th:action="@{/delete/{id}(id=${book.id})}" method="get">
                <button type="submit">삭제하기</button>
            </form>
        </div>
        <!-- 세션 값 체크 -> admin이 아닐 시 -->
        <div th:unless="${user != null and user.username.equals('admin@naver.com')}">
            <form th:action="@{/book/loan/{id}(id=${book.id})}" method="get">
                <button type="submit" onclick="alert('1권 대출했습니다. 마이페이지로 이동합니다.');">대출</button>
            </form>
        </div>
        <br/>
    </li>
</ul>
<div th:unless="${user != null and user.username == 'admin@naver.com'}">
    <form action="/insertForm" method="get">
        <button type="submit">도서 추가</button>
    </form>
</div>
</body>
</html>
